/*.md
/Assistant/ASSISTANT_ID
/Assistant/ASSISTANT_INSTRUCTIONS
/Assistant/VECTOR_ID
/Assistant/VECTOR_FILE_IDS
/Assistant/PROJECT_SUMMARY
/Assistant/SUMMARY_THREAD_ID
/Assistant/PROJECT_FILES_JSON
